@charset "utf-8" ;
body {
    font-family: 'Gowun Batang';
}
header {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
}
.wrap {
    width: 90%;
    margin: 0 auto;
    z-index: 100;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav > ul > li {
    padding: 10px;
    text-align: center;
    position: relative;
}
header nav ul li:nth-child(6) {
    display: none;
}
header nav ul img {
    width: 80px;
}
header nav ul li .sub{
    display: none;
    position: absolute;
    left: 50%;
    width: 120px;
}
header nav  ul > li:hover > .sub {
    display: block;
}
header nav ul > li > .sub > ul {
    background-color: #ffffff;
    border: 1px solid #eee;
    border-radius: 10px;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    margin-top: 15px;
    padding: 15px;
    transform: translateX(-50%);
}
#visual {
    width: 90%;
    height: 100vh;
    overflow: hidden;
}
#visual .main .main_img1 img {
    width: 500px;
    height: 500px;
    border-radius: 800px;
    position: relative;
    top: 50px;
    left: -20px;
    opacity: 0.3;
}
#visual .main .main_img_1 img {
    width: 420px;
    height: 420px;
    position: absolute;
    left: 15px;
    top: 90px;
}
#visual .main_txt {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

}
#visual .main_txt h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
#visual .main_txt p {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Gowun Dodum';
}
#visual .main_txt b {
    display: block;
    margin: 50px 0;
    font-family: 'Gowun Dodum';
}
#visual .main_txt a {
    width: 120px;
    height: 30px;
    background-color: #FFF5E3;
    border: 1px solid #e9e9e9;
    border-radius: 100px;
    padding: 10px;
    font-family: 'Gowun Dodum';
}
#visual .main_txt i {
    display: block;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Gowun Dodum';
}
#visual .main .main_img2 img{
    width: 500px;
    height: 500px;
    border-radius: 600px;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    right: 0;
}
#visual .main .main_img3 img{
    width: 430px;
    height: 430px;
    border-radius: 700px;
    position: absolute;
    bottom: 37px;
    right: 35px;
    background-color: #eee;
}
 .page_1 {
    height: 100vh;
    border: 1px solid #e9e9e9;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
}
 .page_1 .circle1 {
    width: 200px;
    height: 200px;
    background-color: #FFFBF2;
    border-radius: 100%;
    position: absolute;
    bottom: 100px;
    left: -20px;
}
 .page_1 .circle2 {
    width: 300px;
    height: 300px;
    background: #FFF4DD;
background: -moz-radial-gradient(center, #FFF4DD 0%, #FFFFFF 72%, #FFFFFF 100%);
background: -webkit-radial-gradient(center, #FFF4DD 0%, #FFFFFF 72%, #FFFFFF 100%);
background: radial-gradient(ellipse at center, #FFF4DD 0%, #FFFFFF 72%, #FFFFFF 100%);
    border-radius: 100%;
    position: absolute;
    bottom: -50px;
    right: 20%;
}
 .page_1 .circle3 {
    width: 500px;
    height: 500px;
    background: #FFF5E3;
    background: -moz-linear-gradient(top, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 20%;
}
#fullpage .page_1 img {
    width: 380px;
    margin-left: 12%;
}
 .page_1 p {
    margin-left: 10%;
    font-size: 17px;
    z-index: 10;
    text-align: center;
}
 .page_1 .line_top {
    display: block;
    width: 80px;
    height: 1px;
    background-color: #000;
    z-index: 10;
    position: absolute;
    top: 20%;
    right: 25%;
}
 .page_1 .line_bottom {
    display: block;
    width: 1px;
    height: 80px;
    background-color: #000;
    z-index: 10;
    position: absolute;
    top: 20%;
    right: 25%;
}
 .page_1 .bottom_line_s {
    display: block;
    width: 1px;
    height: 80px;
    background-color: #000;
    z-index: 10;
    position: absolute;
    bottom: 20%;
    right: 25%;
}
 .page_1 .bottom_line {
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #000;
    z-index: 10;
    position: absolute;
    bottom: 20%;
    right: 25%;
}
 .page_2 {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}
 .page_2 .page_2_left {
    position: relative;
}
 .page_2 .page_2_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
 .page_2 .page_2_left p {
    text-align: center;
    margin:50px 0 50px  80px;
    margin: 100px auto;
    color: #727272;
    font-size: 15px;
}
 .page_2 .page_2_left img {
    margin: 50px auto;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    opacity: 0.7;
}
 .page_2 .page_2_left h2 {
    color: #ffffff;
    position: absolute;
    top: 55%;
    left: 42%;
    font-size: 60px;
    font-weight: 500;
}
 .page_2 .page_2_right {
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
 .page_2 .page_2_right p {
    word-break: keep-all;
    font-size: 16px;
    text-align: center;
}
.page_2 .page_2_right button {
    background-color: #FFF5E3;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    border: 1px solid #e9e9e9;
    font-size: 15px;
    font-family: 'Gowun Dodum';
}
.page_2 .page_2_right_img {
    display: flex;
    gap: 50px;
}
.page_2 .page_2_right_img img {
    width: 300px;
    margin: 0 auto;
}
.page_3 {
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
}
.page_3 button {
    background-color: #fff5e3;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: none;
    z-index: 100;
    position: absolute;
    bottom: 15%;
    right: 22%;
    font-family: 'Gowun Dodum';
 }
 .page_3 .circle1 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #FFFBF2;
    position: absolute;
    bottom: 5%;
    left: -30px;
}
 .page_3 .circle2 {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background: #FFF5E3;
    background: -moz-linear-gradient(top, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);    position: absolute;
    bottom: 10%;
    left: 12%;
    z-index: 10;
}
 .page_3 .circle2 p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 15px;
    word-break: keep-all;
    line-height: 1.7;
}
 .page_3 .circle3 {
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background: #FFF5E3;
    background: -moz-linear-gradient(45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: -webkit-linear-gradient(45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: linear-gradient(45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    position: absolute;
    bottom: 30%;
    left: 23%;
}
 .page_3 img {
    width: 360px;
    margin-right: 70px;
    z-index: 10;
}
.page_3 span {
    display: none;
}
 .page_4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}
.page_4 .p4_full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}
 .page_4 span {
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-weight: 500;
}
 .page_4 .page_4_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 0;
    gap: 100px;
    margin-right: 100px;
 }
 .page_4 .page_4_top p {
    font-size: 15px;
    z-index: 10;
    text-align: center;
    line-height: 1.5;
}
 .page_4 .page_4_top .p4_circle1 {
    width:600px;
    height: 600px;
    border-radius: 100%;
    background-color: #fffbf4;
    position: absolute;
    top: 15%;
    right: 5%;
}
 .page_4 img {
    width: 250px;
}
.page_4 .page_4_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 0 0 0 100px;
    gap: 100px;
    margin-left: 100px;
    z-index: 100;
}
.page_5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}
.page_5 .p5_full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}
 .page_5 span {
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-weight: 500;
}
 .page_5 .page_5_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 0;
    gap: 100px;
    margin-right: 100px;
    z-index: 10;
}
.page_5 .page_5_top p {
    font-size: 15px;
    z-index: 10;
    text-align: center;
    line-height: 1.5;
}
.page_5 .p5_circle1 {
    width:600px;
    height: 600px;
    border-radius: 100%;
    background-color: #fffbf3;
    position: absolute;
    bottom: 15%;
    left: 5%;
}
.page_5 img {
    width: 250px;
}
.page_5 .page_5_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 0 0 0 100px;
    gap: 100px;
    margin-left: 100px;
}
 .page_5 .page_5_bottom .p5_circle1 {
    width:600px;
    height: 600px;
    border-radius: 100%;
    background-color: #FFF6E4;
    position: absolute;
    bottom: 20%;
    left: 0;
}
 .page_6 {
    height: 100vh;
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}
 .page_6 img {
    width: 250px;
}
 .page_6 .page_6_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0 0;
}
 .page_6 .page_6_left span:first-child {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
}
.page_6 .page_6_left span:last-child {
    font-size: 13px;
}
 .page_6 .page_6_left p {
    font-size: 15px;
    margin-bottom: 50px;
}
 .page_6 .page_6_left .p6_left_img {
    margin: 50px 0;
}
 .page_6 .page_6_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0 0;
    position: relative;
}
 .page_6 .page_6_right span {
    margin: 50px 0;
    font-size: 30px;
    font-weight: 500;
}
 .page_6 .page_6_right p {
    font-size: 14px;
    margin-bottom: 50px;
}
.page_6 .page_6_right i {
    font-size: 15px;
}
.page_6 .page_6_right b {
    font-size: 15px;
    margin-bottom: 10px;
}
 .page_7 {
    height: 80vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
 .page_7 .p7_circle1 {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: #FFF5E3;
    background: -moz-linear-gradient(-45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: -webkit-linear-gradient(-45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: linear-gradient(135deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    border: 1px solid #d1d1d1;
    margin: 100px 0;
    position: relative;
    left: 20%;
}
 .page_7 .p7_circle1 p {
    position: absolute;
    top: 42%;
    right: 30px;
    font-size: 70px;
    color: #b0b0b0;
    z-index: 100;
}
 .page_7 .p7_circle2 {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: #FFF5E3;
    background: -moz-linear-gradient(45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: -webkit-linear-gradient(45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    background: linear-gradient(45deg, #FFF5E3 0%, #FFFFFF 72%, #FFFFFF 100%);
    border: 1px solid #ececec;
    position: absolute;
    left: 40%;
}
 .page_7 p {
    position: absolute;
    bottom: 23%;
    right: 20%;
    text-align: center;
    line-height: 1.5;
}
.page_7 .p7_line {
    width: 60%;
    height: 1px;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 0%, #505050 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 0%, #505050 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 0%, #505050 100%);    position: absolute;
    bottom: 20.5%;
    right: 0;
}
footer {
    background-color: #727272;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    color: #ffffff;
}
footer h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
footer img {
    width: 32px;
    margin-right: 15px;
}
/* 320 440 768 1024 1377 */
@media screen and (min-width : 320px) and (max-width : 768px) {
    header nav ul li:nth-child(1) {
        display: none;
    }
    header nav ul li:nth-child(2) {
        display: none;
    }
    header nav ul li:nth-child(3) img {
        margin: 0 auto;
    }
    header nav ul li:nth-child(4) {
        display: none;
    }
    header nav ul li:nth-child(5) {
        display: none;
    }
    header nav ul li:nth-child(6) {
        display: block;
    }
    #visual .main img {
        display: none;
    }
    #visual .main .main_img2 img {
        width: 400px;
        height: 400px;
        display: block;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #visual .main .main_txt {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .page_1 .p1 {
        display: none;
    }
    .page_1 img {
        display: none;
    }
    .page_1 p {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .page_2 {
        position: relative;
        width: 100%;
    }
    .page_2 .page_2_left img {
        display: none;
    }
    .page_2 .page_2_left h2 {
        display: none;
    }
    .page_2 .page_2_left p {
        display: none;
    }
    .page_2 .page_2_right {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_2 .page_2_right img {
        width: 250px;
        border-radius: 100%;
    }
   
    .page_2 .page_2_right p {
        font-size: 12px;
    }
    .page_3 {
        background-image: url(../image/p4_1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page_3 .p3 {
        display: none;
    }
    .page_3 img {
        display: none;
    }
    .page_3 span {
        display: block;
        text-align: center;
        font-weight: 500;
        position: absolute;
        right: 20%;
        font-size: 12px;
    }
    .page_4 .p4_full {
        position: relative;
    }
    .page_4 .p4_top_img {
        display: none;
    } 
    .page_4 .page_4_top p {
        font-size: 12px;
        word-break: keep-all;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_4 .page_4_bottom {
        position: absolute;
        top: 100px;
        left: 0;
        right: 50%;
        margin: 0 auto;
    }
    .page_4 .page_4_bottom p {
        position: absolute;
        bottom: -30%;
        font-size: 12px;
        left: -30%;
        right: 0;
        margin: 0 auto;
        width: 300px;
    }
    .page_4 .p4_bottom_img {
        display: flex;
        gap: 25px;

    }
    .page_4 .p4_bottom_img img {
        width: 150px;
    }
    .page_5 span {
        color: #000;
        z-index: 100;
    }
    .page_5 .p5_full {
        position: relative;
    }
    .page_5 .p5_top_img {
        display: none;
    } 
    .page_5 .page_5_top p {
        font-size: 12px;
        word-break: keep-all;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_5 .page_5_bottom {
        position: absolute;
        top: 100px;
        left: 0;
        right: 50%;
        margin: 0 auto;
    }
    .page_5 .page_5_bottom p {
        position: absolute;
        bottom: -30%;
        font-size: 12px;
        left: -30%;
        right: 0;
        margin: 0 auto;
        width: 300px;
    }
    .page_5 .p5_bottom_img {
        display: flex;
        gap: 25px;

    }
    .page_5 .p5_bottom_img img {
        width: 150px;
    }
    .page_6 .page_6_left p {
        font-size: 12px;
    }
    .page_6 .page_6_left b {
        font-size: 12px;
        text-align: center;
    }
    .page_6 .page_6_left span:last-child {
        font-size: 12px;
        text-align: center;
    }
    .page_6 .page_6_right p {
        font-size: 10px;
        text-align: center;
    }
    .page_6 .page_6_right b {
        font-size: 12px;
        text-align: center;
    }
    .page_6 .page_6_right i {
        font-size: 12px;
        text-align: center;
    }
    .page_6 .page_6_left .p6_left_img img:nth-child(1) {
        display: none;
    }
    .page_6 .page_6_left .p6_left_img img:nth-child(2) {
        width: 150px;
    }
    .page_6 .page_6_right .p6_right_img img:nth-child(1) {
        display: none;
    }
    .page_6 .page_6_right .p6_right_img img:nth-child(2) {
        width: 150px;
    }
    .page_7 .p7_circle1 p {
        font-size: 30px;
        text-align: right;
    }
    .page_7 .p7_circle1 {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 30%;
        left: -10%;
        right: 0;
        margin: 0 auto;
    }
    .page_7 .p7_circle2 {
        width: 200px;
        height: 200px;
    }
    .page_7 p {
        font-size: 12px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;

    }
    .page_7 .p7_line {
        width: 80%;
    }
    footer h4 {
        font-size: 15px;
    }
    footer .foo_left b {
        font-size: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    header nav ul li:nth-child(1) {
        display: none;
    }
    header nav ul li:nth-child(2) {
        display: none;
    }
    header nav ul li:nth-child(3) img {
        margin: 0 auto;
    }
    header nav ul li:nth-child(4) {
        display: none;
    }
    header nav ul li:nth-child(5) {
        display: none;
    }
    header nav ul li:nth-child(6) {
        display: block;
    }
    #visual .main img {
        display: none;
    }
    #visual .main .main_img2 img {
        width: 400px;
        height: 400px;
        display: block;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #visual .main .main_txt {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .page_1 .p1 {
        display: none;
    }
    .page_1 .circle1 {
        display: block;
    }
    .page_1 .circle2 {
        display: block;
    }
    .page_1 .circle3 {
        display: block;
    }
    .page_1 img {
        display: none;
    }
    .page_1 p {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .page_2 {
        position: relative;
        width: 100%;
    }
    .page_2 .page_2_left img {
        display: none;
    }
    .page_2 .page_2_left h2 {
        display: none;
    }
    .page_2 .page_2_left p {
        display: none;
    }
    .page_2 .page_2_right {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_2 .page_2_right img {
        width: 300px;
        border-radius: 100%;
    }
   
    .page_2 .page_2_right p {
        font-size: 14px;
    }
    .page_3 {
        background-image: url(../image/p4_1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page_3 .p3 {
        display: none;
    }
    .page_3 img {
        display: none;
    }
    .page_3 span {
        display: block;
        text-align: center;
        font-weight: 500;
        position: absolute;
        right: 20%;
        font-size: 14px;
    }
    .page_4 .p4_full {
        position: relative;
    }
    .page_4 .p4_top_img {
        display: none;
    } 
    .page_4 .page_4_top p {
        font-size: 14px;
        word-break: keep-all;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_4 .page_4_bottom {
        position: absolute;
        top: 100px;
        left: 0;
        right: 50%;
        margin: 0 auto;
    }
    .page_4 .page_4_bottom p {
        position: absolute;
        bottom: -30%;
        font-size: 14px;
        left: -30%;
        right: 0;
        margin: 0 auto;
        width: 300px;
    }
    .page_4 .p4_bottom_img {
        display: flex;
        gap: 25px;

    }
    .page_4 .p4_bottom_img img {
        width: 250px;
    }
    .page_5 span {
        color: #000;
        z-index: 100;
    }
    .page_5 .p5_full {
        position: relative;
    }
    .page_5 .p5_top_img {
        display: none;
    } 
    .page_5 .page_5_top p {
        font-size: 14px;
        word-break: keep-all;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_5 .page_5_bottom {
        position: absolute;
        top: 100px;
        left: 0;
        right: 50%;
        margin: 0 auto;
    }
    .page_5 .page_5_bottom p {
        position: absolute;
        bottom: -30%;
        font-size: 14px;
        left: -30%;
        right: 0;
        margin: 0 auto;
        width: 300px;
    }
    .page_5 .p5_bottom_img {
        display: flex;
        gap: 25px;

    }
    .page_5 .p5_bottom_img img {
        width: 250px;
    }
    .page_6 .page_6_left p {
        font-size: 14px;
    }
    .page_6 .page_6_left b {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_left span:last-child {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_right p {
        font-size: 12px;
        text-align: center;
    }
    .page_6 .page_6_right b {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_right i {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_left .p6_left_img img:nth-child(1) {
        display: none;
    }
    .page_6 .page_6_left .p6_left_img img:nth-child(2) {
        width: 200px;
    }
    .page_6 .page_6_right .p6_right_img img:nth-child(1) {
        display: none;
    }
    .page_6 .page_6_right .p6_right_img img:nth-child(2) {
        width: 200px;
    }
    .page_7 {
        position: relative;
    }
    .page_7 .p7_circle1 p {
        font-size: 50px;
        text-align: right;
    }
    .page_7 .p7_circle1 {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 30%;
        left: -10%;
        right: 0;
        margin: 0 auto;
    }
    .page_7 .p7_circle2 {
        width: 350px;
        height: 350px;
    }
    .page_7 p {
        font-size: 12px;
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 0;
        margin: 0 auto;

    }
    .page_7 .p7_line {
        width: 80%;
        position: absolute;
        bottom: 7%;
    }
    footer h4 {
        font-size: 15px;
    }
    footer .foo_left b {
        font-size: 10px;
    }
}
@media screen and (min-width:1024px) and (max-width:1429px) {
    header nav ul li:nth-child(1) {
        display: none;
    }
    header nav ul li:nth-child(2) {
        display: none;
    }
    header nav ul li:nth-child(3) img {
        margin: 0 auto;
    }
    header nav ul li:nth-child(4) {
        display: none;
    }
    header nav ul li:nth-child(5) {
        display: none;
    }
    header nav ul li:nth-child(6) {
        display: block;
    }
    #visual .main img {
        display: none;
    }
    #visual .main .main_img2 img {
        width: 400px;
        height: 400px;
        display: block;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #visual .main .main_txt {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .page_1 .p1 {
        display: none;
    }
    .page_1 .circle1 {
        display: block;
    }
    .page_1 .circle2 {
        display: block;
    }
    .page_1 .circle3 {
        display: block;
    }
    .page_1 img {
        display: none;
    }
    .page_1 p {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .page_2 {
        position: relative;
        width: 100%;
    }
    .page_2 .page_2_left img {
        display: none;
    }
    .page_2 .page_2_left h2 {
        display: none;
    }
    .page_2 .page_2_left p {
        display: none;
    }
    .page_2 .page_2_right {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_2 .page_2_right img {
        width: 300px;
        border-radius: 100%;
    }
   
    .page_2 .page_2_right p {
        font-size: 14px;
    }
    .page_3 img {
        width: 250px;
    }
    .page_4 .p4_full {
        position: relative;
    }
    .page_4 .p4_top_img {
        display: none;
    } 
    .page_4 .page_4_top p {
        font-size: 14px;
        word-break: keep-all;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_4 .page_4_bottom {
        position: absolute;
        top: 100px;
        left: 0;
        right: 50%;
        margin: 0 auto;
    }
    .page_4 .page_4_bottom p {
        position: absolute;
        bottom: -30%;
        font-size: 14px;
        left: -30%;
        right: 0;
        margin: 0 auto;
        width: 300px;
    }
    .page_4 .p4_bottom_img {
        display: flex;
        gap: 25px;

    }
    .page_4 .p4_bottom_img img {
        width: 250px;
    }
    .page_5 span {
        color: #000;
        z-index: 100;
    }
    .page_5 .p5_full {
        position: relative;
    }
    .page_5 .p5_top_img {
        display: none;
    } 
    .page_5 .page_5_top p {
        font-size: 14px;
        word-break: keep-all;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .page_5 .page_5_bottom {
        position: absolute;
        top: 100px;
        left: 0;
        right: 50%;
        margin: 0 auto;
    }
    .page_5 .page_5_bottom p {
        position: absolute;
        bottom: -30%;
        font-size: 14px;
        left: -30%;
        right: 0;
        margin: 0 auto;
        width: 300px;
    }
    .page_5 .p5_bottom_img {
        display: flex;
        gap: 25px;

    }
    .page_5 .p5_bottom_img img {
        width: 250px;
    }
    .page_6 .page_6_left p {
        font-size: 14px;
    }
    .page_6 .page_6_left b {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_left span:last-child {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_right p {
        font-size: 12px;
        text-align: center;
    }
    .page_6 .page_6_right b {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_right i {
        font-size: 14px;
        text-align: center;
    }
    .page_6 .page_6_left .p6_left_img img:nth-child(1) {
        display: none;
    }
    .page_6 .page_6_left .p6_left_img img:nth-child(2) {
        width: 250px;
    }
    .page_6 .page_6_right .p6_right_img img:nth-child(1) {
        display: none;
    }
    .page_6 .page_6_right .p6_right_img img:nth-child(2) {
        width: 250px;
    }
    .page_7 {
        position: relative;
    }
    .page_7 .p7_circle1 p {
        font-size: 50px;
        text-align: right;
    }
    .page_7 .p7_circle1 {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 30%;
        left: -10%;
        right: 0;
        margin: 0 auto;
    }
    .page_7 .p7_circle2 {
        width: 350px;
        height: 350px;
    }
    .page_7 p {
        font-size: 12px;
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 0;
        margin: 0 auto;

    }
    .page_7 .p7_line {
        width: 80%;
        position: absolute;
        bottom: 7%;
    }
    footer h4 {
        font-size: 15px;
    }
    footer .foo_left b {
        font-size: 10px;
    }
}

footer {
    display: flex;
    justify-content: space-around;
}
footer .foo_left h4 {
    font-size: 20px;
}
footer .foo_left p {
    font-size: 13px;
}
footer .foo_left b {
    font-size: 13px;
}
footer .foo_right h4 {
    font-size: 20px;
}
footer .foo_right img {
    width: 24px;
}